.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav li {
    position: relative;
}

.nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    transition: background-color 0.3s, color 0.3s;
}

.nav a:hover {
    background-color: #555;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #343434;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; /* Align below the parent */
 }
 
 .continent-content {
    display: none;
    position: absolute;
    background-color: #343434;
    min-width: 600px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 100%;
    top: 0; /* Align with parent continent item */
    columns: 3;
    column-gap: 0;
 }
 
 .dropdown-item {
    position: relative;
    display: block;
 }

.dropdown:hover .dropdown-content,
.dropdown-item:hover .continent-content {
    display: block;
}

.dropdown-content a, .continent-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    break-inside: avoid;
}

.dropdown-content a:hover,
.continent-content a:hover {
    background-color: #555;
}

.country-iso {
    color: #999;
    font-size: 0.8em;
    margin-left: 8px;
}